$blue: #395578;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #d63384;
// $red: #dc3545;
$orange: #db8b51;
// $yellow: #ffc107;
// $green: #90a18a;
// $teal: #80a984;
$cyan: #9fc4c6;

$primary: #6f6259;
$secondary: $cyan;
$light: #ede1ca;
// $danger: #a9808a;

.background {
  background-color: #fffaf0;
}

.listing-bg {
  background-color: #efe8d9;
}
