@import "colours";

.mw-1200 {
  max-width: 1200px;
}

.hero-img {
  background-image: url(/images/bicycle-1872682_1920.jpg);
  background-size: cover;
  height: 500px;
}

.btn-custom {
  background-color: $orange;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.btn-custom:hover {
  background-color: #cf946a;
  border: solid black 1px;
}

.btn-white,
.btn-white:hover {
  background-color: #ede1ca;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-blue,
.btn-blue:hover {
  background-color: $blue;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .signup-page {
    flex-direction: column;
  }
}
